# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# ChromaDB
movie/chroma_movie_db/
*.sqlite3
*.bin
*.pickle

# IDE
.vscode/
.idea/

# Logs
*.log

__pycache__/
*.pyc
movie/movie_agent/__pycache__/